html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: "Nunito", "Quicksand", sans-serif;
    background-color: #3A405A;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#header {
    margin-bottom: 20px;
    margin-top: 0;
    font-weight: bold;
    font-size: 3.5rem;
    color: #F9DEC9;
}

.vakitler{ 
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.vakit {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F9DEC9;
    text-decoration: None;
    color: #3A405A;
    font-size: 2.5rem;
    font-weight: 700;
    border-radius: 15px;
    width: 65vw;
    height: 20vw;
    box-shadow: 0px 0px 5px #d2f1fe;
}

.vakit:hover {
    transform: translateY(-2px) scale(1.05);
    transition: 0.3s;
    box-shadow: 0px 0px 30px #d2f1fe;
}
